*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* test comment */
.d-flex{
    display: flex;
}
.menubar1{
    justify-content: space-evenly;
    padding: 5px;
    background-color: rgb(31, 116, 87);
}
.menubar1 img{
width: 50px;
height: 50px;
}
.menu-start{
    flex-basis:40% ;
    text-align: center;
    font-size: xx-large;
    margin-top:10px;
    color: rgb(19, 180, 126);
   
}
.menu-middle{
    flex-basis: 40%;
margin-top: 20px;

}
.menu-end{
    flex-basis: 20%;
    margin-top: 10px;
}
.menu-middle a{
    color:rgb(31, 116, 87);
    font:30px;
   margin: 10px;
}
.menubar2{
   
    font-weight: bolder;
    height: 60px;
}
.register,.log-in,#btn2{
    background-color: rgb(20, 238, 165);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color:rgb(31, 116, 87) ;
    margin: 5px;
    font-weight: bolder;
}
.middlebar{
    text-align: center;
   background-color:rgba(31, 136, 101, 0.377) ;
    height: 500px;
    width: 100%;
    position: relative;
}
.middlebar img{
    box-shadow: 5px 5px 5px rgb(31, 116, 87) ;
}
.name1{
   margin-top: 20px; 
   font-size: 60px;
color: rgb(31, 116, 87);
-webkit-text-stroke: 2px rgb(6, 120, 226);
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.heading{
    justify-content:space-evenly; 
    align-items: center;
    color:rgb(31, 116, 87) ;
    height: 60px;
    width: 60%;
    background-color:white ;
    position:absolute;
    bottom: -5%;
    right:20%;
    border-radius:10px;
    box-shadow:5px 5px 5px rgba(27, 85, 66, 0.377);
}
/* about us */
.sec2{
    width:100% ;
    height: 70vh;
    padding-top: 80px;
    text-align: center;
    background-color: rgba(189, 188, 186, 0.61);
    font-weight: bold;
    background-image: url(./popu1.png);
   background-repeat: no-repeat;
   background-position: center;
    }
    .innersec{
        justify-content: space-evenly;
        text-align:left;
        line-height:30px;
        margin-top:20px;
    }
h3{
 color:rgb(22, 71, 55) ;
}
.first{
    margin-top:30px;
    color: rgb(22, 71, 55);
}
.first p img{
height: 22px;
width: 22px;
margin: 5px 5px 0px 0px;
}
.second{
     width:500px;
    height:200px;
    box-shadow: 5px 5px 5px rgb(22, 71, 55) ;
    background-color: rgb(248, 255, 255);
    border-radius: 20px;
    color: rgb(22, 71, 55);
    margin-top: 40px;
   
}
.head{
    background-color:rgb(22, 71, 55) ;
    border-radius: 20px 20px 0 0;
    margin-bottom: 30px;
    text-align: center;
    padding:5px ;
    color: white;
}
.sub{
    margin-left: 30px;
}
.count{
    width: 100%;
    height: 18vh;
    background-color:rgb(22, 71, 55) ;
    color:white;
    justify-content: space-evenly;
    padding: 30px;
}
/* amchi karye */
.sec3{
    text-align: center;
    padding-top:80px;
    height: 60vh;
    background-image:url("./background1.jpg");
    background-size: cover;
background-position: center;}
    
.inner-one{
    justify-content: space-evenly;
    margin: 20px;
  
}
.inner-item{
    background-color: white;
    box-shadow: 5px 5px 5px rgb(0, 119, 79);
    width: 300px;
    height: 80px;
    text-align: center;
    border:1px solid  rgb(0, 119, 79) ;
    border-radius:5px;
    padding: 10px;
    color: rgb(0, 119, 79) ;
}
/* grampanchyat uddhishte */
.sec4{
    height:80vh;
    background-color:  rgb(0, 119, 79);
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-top: 30px;
}
.aim{
    padding:10px 0  10px 0;
    margin:20px auto auto auto;
    width: 60%;
    border-radius: 0 30px 0 30px;
    background-color:white;
    box-shadow: 3px 3px 3px rgb(54, 52, 52);
    
}
.sec4 p{
  
  line-height: 30px;
    font-size: large;

    padding:5px;
    font-weight: bold;
    color:rgb(0, 119, 79) ;
}
.sec5-inner{
    justify-content: space-evenly;
    margin: 60px 0px 60px 0px;
}
.part1,.part2{
    width: 400px;
    height: 500px;
 border: 1px solid rgb(0, 119, 79);
 color: rgb(0, 119, 79);
box-shadow: 5px 5px 5px rgb(0, 119, 79);

}
.part1{
    height: 300px;
}
.scroll{
    height: 440px;
    overflow-y:scroll ;
}
.part1 p,.part2 p{
    padding-left: 25px;
    line-height: 25px;
  
}
.part1 h4,.part2 h4{
    height: 50px;
    text-align: center;
    background-color: rgb(0, 119, 79);
    color: white;
padding-top: 10px;
font-weight: bold;
margin-bottom: 5px;
}













/* form section */
.section6{
    height: 500px;
    background-color:rgb(236, 243, 241);
    text-align: center;
    padding-top: 50px;
}
.container{
margin: auto;
justify-content: space-evenly;
}

.form{
    width: 450px;
   margin:10px;
}
.form input{
    height: 35px;
    box-shadow:5px 5px 10px gray ;
}
.form .pp{
    width: 100%;
    outline: none;
    border: none;
    padding:10px ;
    box-shadow:5px 5px 10px gray ;}

.form .name{
    width: 48.5%;
    outline: none;
    border: none;
    padding: 10px;
    }
#btn2{
    box-shadow:5px 5px 10px gray ;
    border-radius: 10px;
    margin-left:35%;
    width:150px;

}


  
